{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>
    Weather
</h1>
<div>
  <button>Press
  </button>
</div>
<div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">timestamp</th>
          <th scope="col">neighborhood</th>
          <th scope="col">humidity</th>
          <th scope="col">temperature</th>
          <th scope="col">heatIndex</th>
          <th scope="col">windSpeed</th>
        </tr>
      </thead>
      <tbody>
        {% for datum in data %}
        <tr>
          <td>{{ datum.timestamp }}</td>
          <td>{{ datum.neighborhood }}</td>
          <td>{{ datum.humidity }}</td>
          <td>{{ datum.temperature }}</td>
          <td>{{ datum.heatIndex }}</td>
          <td>{{ datum.windSpeed }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <div id="chart_div"></div>

  <script>
    var temperatures = []
    '{%- for datum in data %}'
      temperatures['{{datum.timestamp}}'] = '{{datum.temperature}}'  
    '{%- endfor %}'
    console.log(temperatures)

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawCurveTypes);

    function drawCurveTypes() {
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'X');
          data.addColumn('number', 'Temperature');

          
          for (timestamp in temperatures ){
            var date = new Date(timestamp)
            
            data.addRows([ 
              [date, parseFloat(temperatures[timestamp])]
            ]);
          }
          

          var options = {
            hAxis: {
              title: 'Timestamp'
            },
            vAxis: {
              title: 'Temperature'
            },
            series: {
              1: {curveType: 'function'}
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
  </script>

{% endblock %}
